/Blog/*.rbc
/Blog/capybara-*.html
/Blog/.rspec
/Blog/log
/Blog/tmp
/Blog/db/*.sqlite3
/Blog/db/*.sqlite3-journal
/Blog/public/system
/Blog/coverage/
/Blog/spec/tmp
/Blog/**.orig
/Blog/rerun.txt
/Blog/pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
#/Blog/config/initializers/secret_token.rb
#/Blog/config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
/Blog/.env

## Environment normalization:
/Blog/.bundle
/Blog/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
/Blog/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/Blog//vendor/assets/bower_components
/Blog/*.bowerrc
/Blog/bower.json

# Ignore pow environment settings
/Blog/.powenv

# Ignore Byebug command history file.
/Blog/.byebug_history
